<h1><%= @page_header %></h1>

<h2>YoutTube video</h2>

<% @comments.each_with_index do |comment, index| %>

	<iframe width="<%= comment[:width] %>" height="<%= comment[:height] %>" 
	src="https://www.youtube.com/embed/<%= comment[:url] %>" frameborder="0" allowfullscreen></iframe>

	<h2>Video Title: <%= comment[:title] %></h2>
	<h2>Video Description: <%= comment[:description] %></h2>

	<a href="/comments/<%= index %>">View</a>
	<a href="/comments/<%= index %>/edit">Edit</a>

	<form action="/comments/<%= index %>" method="POST">
		<input type="hidden" name="_method" value="DELETE">
		<input type="submit" value="Delete">
	</form>
	

<% end %>