<iframe width="<%= @comment[:width] %>" height="<%= @comment[:height] %>"
 src="https://www.youtube.com/embed/<%= @comment[:url] %>" frameborder="0" allowfullscreen></iframe>

<h2>Video Title: <%= @comment[:title] %></h2>
<h2>video Description: <%= @comment[:description] %></h2>

<h2>Video width: <%= @comment[:width] %></h2>
<h2>Video height: <%= @comment[:height] %></h2>